.headerTools {
  display: grid;
  grid-template-columns: 48px 209px 119px 95px 142px 147px 193px 95px;
  border-bottom: 1px solid #C9CFDA;
  padding-bottom: 6px;
  margin-bottom: 32px;
}
.headerTools__name{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

