.headerTools_CheckBox {
  display: flex;
  justify-content: center;
  align-items: center;
}


.element-wrapper {
  padding: 10px;
}

.CheckBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
